@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Eczar:wght@600;700;800&family=JetBrains+Mono:ital,wght@0,300;0,400;1,300&family=Libre+Baskerville:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap');
/* 
    #Fontes: 
    font-family: 'Cutive Mono', monospace;
    font-family: 'Eczar', serif;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Libre Baskerville', serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background-color: #f3ebe3;
}
 .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    
}
.cabecalho-img{
    width: auto;
}
.cabecalho-navegacao{
    display: flex;
    align-items: center;
   
}
.cabecalho-navegacao-item{
    text-decoration: none;
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    color: rgb(75, 75, 75);
    
    font-family: 'Open Sans', sans-serif;
 
}
.cabecalho-login{
   
}
.cabecalho-login-item{
    display: inline-block;
    padding: 0 20px;
    color: rgb(75, 75, 75);     
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}
.cabecalho-login-botao{
    display: inline-block;
    padding: 15px 25px;
    color: rgb(75, 75, 75);    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: white;
    background-color: rgb(15, 78, 15);
    border: none;
    border-radius: 2%;
}
.conteudo{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.conteudo-escrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4%;
    margin-left: 5%;


}

.conteudo-escrito-titulo{
    font-family: 'Inter', sans-serif;
    font-size: 57px;
    font-size: 3.5rem;

}
span{
    color: #efb611;
}
.conteudo-escrito-descricao{
    font-family: 'Open Sans', sans-serif;
    color: rgb(75, 75, 75);
    margin-top: 3%;

}

.conteudo-escrito-botao{
    width: 180px;
    padding: 15px 25px;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: white;
    background-color: rgb(15, 78, 15);
    border: none;
    border-radius: 2%;
    margin-top: 3%;
    
}
.conteudo-escrito-rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 5%;
    
}
.conteudo-escrito-rodape  p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(75, 75, 75);

}
figure{
    margin-right: 1%;   
    display: flex; 
    align-items: center;
    width: 100%;

}
.conteudo-img{
    padding: 18%;
    height: 600px;
    width: 520px;




}

.rodape{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8%;
}
.rodape p{
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(75, 75, 75);
}
.rodape ul{
    display: flex;
    flex-direction: row;
    gap: 15%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 15vh;
    margin-bottom: 0;

}

button:hover{
    cursor: pointer;
}
.menu{
    display: none;
    border: none;
}
.cabecalho-mobile-navegacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecalho-mobile-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    margin: 10px;
}
.botao-mobile{
    width: 80%;
    
}
.cabecalho-mobile{
    display: none;
}


@media  (max-width: 730px) {
    .cabecalho-navegacao{
        display: none;
    }
    .cabecalho-login{
        display: none;
    }
    .menu{
        display: block;
    }

 
    .open{
        display: block;
    }

    figure {
        display: none;
    }

    .conteudo{
        height: 52vh;

    }
    .conteudo-escrito{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 1rem;
        margin-top: 1rem;


    }
    .conteudo-escrito-titulo{
        font-family: 'Inter', sans-serif;
        font-size: 2.0rem;

    }


    .conteudo-escrito-descricao{
        font-family: 'Open Sans', sans-serif;
        color: rgb(75, 75, 75);
        margin-top: 1rem;
        font-size: 0.9rem;

    }

    .conteudo-escrito-botao{
        width: 180px;
        padding: 15px 25px;   
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: larger;
        color: white;
        background-color: rgb(15, 78, 15);
        border: none;
        border-radius: 2%;
        margin-top: 5%;

    }

    .conteudo-escrito-rodape {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0px;
        margin-top: 9%;

    }

    .conteudo-escrito-rodape  p{
        font-family: 'Open Sans', sans-serif;
        color: rgb(75, 75, 75);
        font-size: 0.9rem;

    }



    .rodape{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        height: 48vh;
        margin-bottom: 0;

    }

    .rodape p{
        padding: 2%;
        font-family: 'Open Sans', sans-serif;
        color: rgb(75, 75, 75);
        font-size: 0.9rem;
    }

    .rodape ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;




    }

    .rodape ul{
        margin-top: 1.5rem;
        margin-bottom: 0vh;
    }

    .rodape ul li {
        margin: 15px 0;
    }
    .rodape img{
        width: 140px;

    }
}
